html {
    height: 100%;
    background-color: #000;
}
body {
    height: 100%;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}
.container {
    position: relative;
    min-height: 100%;
    min-width: 36rem;
    padding-bottom: 13.8888%;
    margin: 0 auto;
}
.header {
    line-height: 0;
    text-align: center;
}
.header-img {
    width: 100%;
}
.news-bg {
    position: relative;
    width: 100%;
    padding:0 3.6111% 2.2222%;
    margin: 0 auto;
    background:linear-gradient(to bottom,#272727 0%,#272727 61%,#000 60%,#000 100%);
}
.news {
    padding: 2.5% 0 2.5% 2.7777%;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.member-title {
    border-radius: 0.5rem 0.5rem 0 0;
    background: linear-gradient(to right,#EFDFAF,#DDC084,#EDBF6B)
}
.member-msg {
    float: left;
    line-height: 3.2rem;
    margin-left: 3.59%;
    color: #57381B;
}
.member-information {
    float: right;
    min-width: 8rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0.4rem 0.7rem 0.4rem 0;
    color: #FFF;
    text-align: center;
    border-radius: 1.2rem;
    background-color: #9C6E54;
}
.member-btns {
    background-color: #FFF;
    border-radius: 0 0 0.5rem 0.5rem;
}
.btn-icon {
    float: left;
    width: 14.6705%;
    margin: 1.497% 1.796% 0 0;
    text-align: center;
    color: #2E4A83;
}
.deposit-distance {
    margin-left: 3.8922%;
}
.btn-img {
    width: 100%;
}
.login-box {
    float: left;
    width: 26.94%;
    border-right: 0.01rem solid #FDEABC;
}
.btn-login {
    text-align: center;
    color: #57381B;
    margin-bottom: 2.3952%;
}
.btn-login-img {
    width: 55.5744%;
    margin: 5.6708% 22.678% 0;
}
.content {
    padding:0 3.6111%;
    margin: 0 auto;
    background-color: #000;
}
.content-btns {
    float: left;
    width: 32.9341%;
}
.content-btns-icon {
    margin-bottom: 7.2727%;
    padding: 5.909% 0;
    border-radius: 1rem;
    background: linear-gradient(to right,#EFDFAF,#DDC084,#EDBF6B)
}
.person-btn-bg {
    background: #34508E;
}
.btn-word {
    display: inline-block;
    width: 5.2rem;
    line-height: 1;
    vertical-align: middle;
    color: #57381B;
}
.person-btn-word {
    color: #FFF;
}
.content-btn-img {
    width: 24.5454%;
    vertical-align: middle;
    margin: 0 3.6363% 0 10% ;
}
.content-lives {
    float: left;
    width: 65.2694%;
    margin-left: 1.7964%;
}
.live-icon {
    position: relative;
    margin-bottom: 2.7522%;
}
.live-img {
    width: 100%;
}
.img-words {
    position: absolute;
    top: 0.4rem;
    left: 0.6rem;
    color: #FFF;
}
.small-icon {
    position: relative;
    float:left;
    width: 48.6238%;
    margin-bottom: 2.7522%;
}
.small-icon-distance {
    margin-right: 2.7522%;
}
.small-img {
    object-fit: cover;
    object-position: 100%;
    width: 100%;
    height: 7.9rem;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #393939;
}
.footer-icons {
    width: 88.889%;
    padding: 1.6666% 0;
    margin: 0 auto;
}
.footer-icon {
    position: relative;
    float: left;
    width: 25%;
    line-height: 1;
    color: #FFF;
    text-align: center;
}
.footer-img {
    width: 30%;
}
.footer-index-color {
    color: #EFD497;
}
.dot {
    position: absolute;
    top: 0;
    right: 35%;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #FF0101;
}
@media screen and (max-width: 767px) {
    html {
        font-size: 13.3333px;
    }
}
@media screen and (max-width:480px) {
    html {
        font-size: 10px;
    }
}
@media screen and (min-width: 768px) {
    html {
        font-size: 21.3333px;
    }
    .content,.news-bg {
        max-width: 768px;
    }
}


