ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #a79898;
}
#app {
    width: 600px;
    min-height: 800px;
    margin: 0 auto;
    text-align: center;
    background: #f0e0c3;
    font-family: 'Times New Roman', Times, serif;
}
.add-todo {
    margin-top: 30px;
    text-align: left;
}
.add-todo input {
    width: 440px;
}
.add-todo > input:focus {
    outline: 2px dashed #26bd6a;
}
.nav {
    line-height: 50px;
    vertical-align: middle;
    background: #bd5126;
}
.router-link-exact-active {
    color: #e6dfd2;
    text-decoration: none;
}
.container {
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
}
.items {
    position: relative;
    line-height: 40px;
    padding-left: 30px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    border-bottom: 2px dashed #9c9898;
    background: #e9c7c7;
}
.todo {
    display: inline-block;
    width: 350px;
    text-align: left;
    word-wrap: break-word;
}
.todos-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}
.edit {
    width: 350px;
}
.edit:focus {
    outline: 2px dashed #bd5126;
}
.btn {
    padding: 0;
    vertical-align: middle;
    outline: none;
    color: #726856;
    cursor: pointer;
    background: #cac5c5;
}
.btn:hover {
    color: #ffffff;
    background: #2692bd;
}
input[type='checkbox'] {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
}
