html {
    background-color: #000;
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
        height: 100%;
}
* {
    box-sizing: border-box;
}
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}
.container {
    position: relative;
    padding-bottom: 13.8888%;
    min-height: 100%;
}
.header {
    max-width: 768px;
    margin: 0 auto;
    padding: 1.6666% 3.3333% 0;
    background-color: #272727;
}
.msg {
    position: relative;
    text-align: right;
    width: 8.0357%;
    margin: 0 2.7777% 1.3888% auto;
}
.msg-img {
    width: 100%;
}
.number {
    position: absolute;
    top: 0;
    right: -25.9259%;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 1rem;
    color: #F8F1EB;
    background-color: #FF0101;
    
}
.member-bg {
    display: flex;
    margin: 0 auto;
    border-radius: 0.5rem 0.5rem 0 0;
    background: linear-gradient(to right,#EFDFAF,#DDC084,#EDBF6B);
}
.member {
    position: relative;
    float: left;
    width: 15.7738%;
    margin: 0.8928% 2.9761% 0.5952% 3.2738%;
}
.member-photo {
    width: 100%;
    border-radius: 50%;
    background-color: #F8F1EB;
}
.add-bg {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    width: 1.7rem;
    height: 1.7rem;
    line-height: 1.4rem;
    border-radius: 0.85rem;
    border: 0.1rem solid #F8F1EB;
    text-align: center;
    font-weight: 900;
    color: #F8F1EB;
    background-color: #472805;
}

.member-msg {
    align-self: center;
}
.member-box {
    display: inline-block;
    line-height: 1.6rem;
    vertical-align: middle;
}
.name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #472805;
    vertical-align: middle;
}
.level {
    display: inline-block;    
    width: 44.1176%;
    line-height: 2.2rem;
    margin-left: 17.9738%;
    color: #F8F1EB;
    border-radius: 1rem;
    text-align: center;
    background-color: #9C6E54;
}
.time {
    color: #9C6E54;
}
.member-icons {
    width: 100%;
    margin: 0 auto;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: #F8F1EB;
}
.icons {
    float: left;
    width: 75.2976%;
    padding: 0 3.2738% 1.488%;
    border-right: 0.1rem solid #F0DFD6;
}
.btn-icon {
    float: left;
    width: 21.3043%;
    line-height: 1.6rem;
    margin: 2.1739% 1.7391% 0;
    text-align: center;
    color: #2E4A83;
   }
.btn-img {
    width: 100%;
}
.wallets-icon {
    float: left;
    width: 24.7023%;
    line-height: 7.9rem;
    text-align: center;
   }
.wallets {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}
.money {
    width: 5.2rem;
    line-height: 2.7rem;
    font-size: 2rem;
    color: #5A3810;
}
.wallet {
    width: 5.2rem;
    line-height: 1.7rem;
    font-size: 1.3rem;
    color: #9C6E54;
}
.mission {
    margin: 2.9761% 0 3.5714%;
}
.mission-bg {
    float: left;
    width: 31.8452%;
    height: 10.7rem;
    padding: 0.7rem 1rem 0;
    border-radius: 1.2rem;
    background-color: #5E5450;
}
.mission-img {
    display: block;
    margin: 0 auto;
    height: 6.6rem;
}
.do {
    color: #F8F1EB;
}
.reward {
    color: #786D69;
}
.mission-distance {
    margin-left: 2.0833%;
    margin-right: 2.0833%;
}
.container {
    min-width: 360px;
}
.function-icons {
    margin: 0 auto;
    max-width: 768px;
    background: #000;
}
.function {
    padding: 1.6666% 3.6111% 1.6666% 4.4444%;
    border-bottom: 0.1rem solid #333333;
    color: #F8F1EB;
}
.function-words {
    margin-left: 0.8333%;
}
.function-img {
    width: 8.157%;
    vertical-align: middle;
}
.align {
    float: right;
}
.function-active {
    color: #472805;
    background: linear-gradient(to right,#EFDFAF,#DDC084,#EDBF6B);
}
.btn-bg {
    background-color: #000;
    padding: 0 3.33%;
}
.btn-color {
    padding: 3.6253%  0;
    margin: 6.11% 0;
    color: #9C6E54;
    border-radius: 2rem;
    text-align: center;
    background: linear-gradient(to right,#EFDFAF,#DDC084,#EDBF6B);
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #393939;
}
.footer-icons {
    width: 88.8889%;
    padding: 1.6666% 0;
    margin: 0 auto;
}
.footer-icon {
    position: relative;
    float: left;
    width: 25%;
    line-height: 1;
    color: #F8F1EB;
    text-align: center;
}
.footer-img {
    width: 30%;
}
.footer-color {
    color: #EFD497;
}
.dot {
    position: absolute;
    top: 0;
    right: 35%;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #FF0101;
}
@media screen and (max-width: 767px) {
    html {
        font-size: 13.3333px;
    }
}
@media screen and (max-width:480px) {
    html {
        font-size: 10px;
    }
}
@media screen and (min-width: 768px) {
    html {
        font-size: 21.3333px;
    }
}


