body {
    margin: 0;
}
.container {
    text-align: center;
}
.carousel {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
}
.images {
    position: absolute;
    width: 3000px;
    height: 400px;
}
.img {
    float: left;
    width: 600px;
    height: 400px;
    object-fit: cover;
}
.carousel:hover .icon {
    width: 30px;
    height: 30px;
    z-index: 5;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid gray;
    opacity: 0.5;
    background: #000;
    color: rgb(129, 127, 127);
}
.carousel .icon:hover {
    opacity: 1;
}
.prev {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}
.next {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.btns {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.btn {
    display: inline-block;
    width: 20px;
    margin-left: 2px;
    border: 2px solid rgb(129, 127, 127);
    cursor: pointer;
    background: #000;
    color: #FFF;
    text-decoration: none;
    border-radius: 20%;
}
.active {
    border: 2px solid red;
}