body {
    margin: 0;
}
.container {
    text-align: center;
}
.carousel {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}
.images {
    position: absolute;
    width: 3000px;
    height: 400px;
}
.img {
    float: left;
    width: 600px;
    height: 400px;
    object-fit: cover;
}
.icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid #817E7E;
    color: #817E7E;
    background: #000;
}
.carousel:hover .icon {  
    z-index: 5;
    opacity: 0.5;
}
.carousel .icon:hover {
    opacity: 1;
}
.prev {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}
.next {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.btns {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.btn {
    display: inline-block;
    width: 20px;
    line-height: 20px;
    margin:0 1px;
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
    border: 2px solid #817E7E;
    border-radius: 20%;
    background: #000;
}
.active {
    border: 2px solid #CF0003;
}