* {
    box-sizing: border-box;
}
.clearfix::after {
    display: block;
    content:' ';
    clear: both;
}
.container {
    width: 100%;
    min-width: 1425px;
    margin: auto;
}
.login-bg {
    position: absolute;
    width: 223px;
    height: 317px;
    margin-left: 19px;
    padding: 14px 22px;
    background: #FFF;
    z-index: 5;
}
.login-logo {
    width: 175px;
    height: 87px;
    margin: 0 auto 18px;
    cursor: pointer;
    background: url('../image/logo.png') no-repeat center;
}
.login-logo:hover {
    opacity: 0.8;
}
.login-input {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    font-size: 12px;
    border: none;
    outline: none;
    border-bottom: 1px solid #999;
}
.login-input:focus::placeholder {
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}
.login-btn {
    width: 176px;
    height: 36px;
    margin: 8px 0 0 2px;
    background: url('../image/btn_login.png') no-repeat center top ;
}
.login-btn:hover {
    background-position: center bottom;
}
.login-link-box {
    margin-top: 12px;
    text-align: center;
    font-size: 12px;
    color: #595F64;
}
.login-link-symbol {
    margin: 0 10px;
    font-size: 16px;
}
.login-link {
    vertical-align: text-top;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
.login-link:hover {
    color: #222;
}
.login-body-shadow {
    position: absolute;
    left: -4px;
    bottom: -26px;
    width: 233px;
    height: 26px;
    background: url('../image/shadow_login.png') no-repeat center;
}
.header-bg {
    background-color: #08BAE7;
}
.header-body {
    width: 1425px;
    padding: 0 112.5px;
    margin: 0 auto;
}
.header-language {
    float: right;
    width: 194px;
    margin-right: 4px;
    background: url('../image/bg_lang.png') no-repeat center;
}
.language-cn {
    line-height: 47px;
    padding: 0 32px 0 46px;
    font-size: 15px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}
.language-downdrop {
    vertical-align: bottom;
    font-size: 28px;
}
.header-items {
    float: right;
    margin-right: 50px;
    clear: both;
}
.header-item {
    float: left;
    width: 95px;
    line-height: 52px;
    margin: 7px 0 8px 4px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    color: #FFF;
    cursor: pointer;
}
.header-item:hover {
    color: #FF0;
}
.header-item:hover + .items,.items:hover {
    visibility: visible;
}
.header-item-index {
    color: #FF0;
}
.news-bg {
    background: #000;
}
.news-body {
    width: 1400px;
    padding: 0 100px;
    margin: 0 auto;
}
.news-logo {
    float: right;
    width: 80px;
    height: 53px;
    background: url('../image/news_bg.png') no-repeat center;
}
.news-words {
    float: right;
    width: 800px;
    margin-right: 53px;
    padding-top: 17px;
}
.marquee {
    color: #FFF;
    font-size: 13px;
    cursor: pointer;
}
.marquee:hover {
    text-decoration: underline;
}
.header-carousel {
    position: relative;
    height: 435px;
    animation:keyframes-header-bg 10s infinite;
    background: url('../image/slider01.png') no-repeat center;
}
@keyframes keyframes-header-bg {
    0% {background: url('../image/slider01.png') no-repeat center;}
    10% {background: url('../image/not-use/slider02.png') no-repeat center;}
    50% {background: url('../image/not-use/slider02.png') no-repeat center;}
    60% {background: url('../image/slider01.png') no-repeat center;}
    100% {background: url('../image/slider01.png') no-repeat center;}
}
.carousel-sliders {
    position: absolute;
    left: 50%;
    bottom: 6px;
    margin-left: -21.5px;
}
.carousel-slider {
    float: left;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.slider-active {
    margin-right: 13px;
    background: url('../image/slider_ctrl.png') no-repeat center right;
}
.slider {
    background: url('../image/slider_ctrl.png') no-repeat center left;
}
.container-body-up {
    position: relative;
    overflow: hidden;

}
.container-bg {
    width: 1425px;
    margin: 0 auto;
}
.live-casino-bg {
    float: left;
    width: 612px;
    height: 863px;
    cursor: pointer;
    background: url('../image/lang/zh-cn/btn_live.png') no-repeat center top;
}
.live-casino-bg:hover {
    background: url('../image/lang/zh-cn/btn_live.png') no-repeat center bottom;
}
.sports-bg {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -101px;
    width: 1060px;
    height: 420px;
    cursor: pointer;
    background: url('../image/lang/zh-cn/btn_sports.png') no-repeat #010005 left top;
}
.sports-bg:hover {
    background: url('../image/lang/zh-cn/btn_sports.png') no-repeat #010005 left bottom;
}
.promotions-bg {
    float: left;
    width: 699px;
    height: 443px;
    cursor: pointer;
    margin-top: 420px;
    background: url('../image/lang/zh-cn/btn_promotions.png') no-repeat center top;
}
.promotions-bg:hover {
    background: url('../image/lang/zh-cn/btn_promotions.png') no-repeat center bottom;
}
.container-body-middle {
    width: 1425px;
    margin: 0 auto;
}
.container-body-left {
    position: relative;
    float: left;
}
.welcome-bg {
    width: 802px;
    height: 264px;
    background: url('../image/lang/zh-cn/main_welcome.png') no-repeat center;
}
.lottery-bg {
    width: 597px;
    height: 507px;
    cursor: pointer;
    background: url('../image/lang/zh-cn/btn_lottery.png') no-repeat center top;
}
.lottery-bg:hover {
    background: url('../image/lang/zh-cn/btn_lottery.png') no-repeat center bottom;
}
.mobile-bg {
    position: absolute;
    right: 0;
    bottom: -31px;
    width: 206px;
    height: 539px;
    z-index: 5;
    cursor: pointer;
    background: url('../image/lang/zh-cn/btn_mobilebetting.png') no-repeat center top;
}
.mobile-bg:hover {
    background: url('../image/lang/zh-cn/btn_mobilebetting.png') no-repeat center bottom;
}
.electrinc-casino-bg {
    float: left;
    width: 509px;
    height: 772px;
    cursor: pointer;
    background: url('../image/lang/zh-cn/btn_casino.png') no-repeat left top;
}
.electrinc-casino-bg:hover {
    background: url('../image/lang/zh-cn/btn_casino.png') no-repeat left bottom;
}
.container-body-down {
    background: #000;
}
.container-game-bg {
    width: 1425px;
    margin: 0 auto;
}
.game-bg {
    position: relative;
    float: left;    
    width: 588px;
    height: 581px;
    margin: 30px 0 0 214px;
    cursor: pointer;
    background: url('../image/game_slider01.png') no-repeat center;
}
.game-bg:hover {
    background: url('../image/game_slider01_hover.png') no-repeat center;
}
.words-content {
    float: left;    
    margin:146px 0 0 47px;
}
.words-bg {  
    width: 422px;
    height: 216px;   
    background: url('../image/bottom_txt.png') no-repeat center;
}
.words {
    margin-top: 49px;
    color: #FFF;
    line-height: 36px;
}
.container-footer {
    background: #0173BC;
    padding: 61px 0 43px;
}
.footer {
    position: relative;
    width: 1425px;
    margin: 0 auto 96px;
}
.top-icon {
    position: absolute;
    top: -81px;
    right: 112px;
    width: 77px;
    height: 93px;
    cursor: pointer;;
    background: url('../image/btn_top.png') no-repeat left center;
}
.top-icon:hover {
    background: url('../image/btn_top.png') no-repeat right center;
}
.footer-connect {
    height: 117px;
    margin: 0 auto;
    background: url('../image/footer_img01.png') no-repeat center;
}
.footer-service {
    height: 120px;
    background: url('../image/lang/zh-cn/footer_img02.png') #016CB4 no-repeat center;
}
.footer-logos {
    width: 251px;
    margin: 25px auto 38px;
}
.footer-logo-bbin {
    float: left;
    width: 96px;
    height: 36.92px;
    margin-right: 25px;
    cursor: pointer;
    background: url('../image/not-use/white.png') no-repeat center center;
    background-size: contain;
}
.footer-logo-ub {
    float: left;
    width: 130px;
    height: 34.7px;
    cursor: pointer;
    background: url('../image/not-use/ublogo/white.png') no-repeat center;
    background-size: contain;
}
.footer-words {
    font-size: 15px;
    color: #FFF;
    text-align: center;
}
.footer-words span{
    margin: 0 15px;
    cursor: pointer;
}
.footer-words span:hover {
    text-decoration: underline;
}
.copyright {
    margin: 49px auto 0;
    text-align: center;
    color: #A7DBFE;
}