body,input {
    margin: 0;
    padding: 0;
}
.body-bg{
    min-width: 1070px;
}


.header-bg {
    width: 100%;
    height: 166px;
    background: url('../image/nav_bg.jpg') no-repeat center top;
}

.main {
    width: 1070px;
    margin: 0 auto;
}
.header-form {
    width: 100%;
    font-size: 12px;
}

.nav-top-items {
    float: right;
    line-height: 29px;
    font-size: 12px;
    color: white;
}

.nav-top-items>div {
    float: left;
    margin: 0 0 0 9px;
    font-size: 12px;
}

.nav-top-item-2 {
    color: #00FF0B;
}

.nav-top-item-4 {
    color: #00FFA7;
}

.nav-top-item-5 {
    color: #EFF800;
}

.nav-top-items div:nth-of-type(odd):hover {
    cursor: pointer;
    color: #FFDE00;
}
.nav-top-items .flag {
    margin: 7px 0 0 7px;
    cursor: pointer;
}
.flag .nav-top-item-tw {
    float: left;
    width: 22px;
    height: 20px;
    margin: 0 0 0 3px;
    background: url('../image/lang_rect_c.png') no-repeat;

}
.flag .nav-top-item-cn {
    float: left;
    width: 22px;
    height: 20px;
    margin: 0 0 0 3px;
    background: url('../image/lang_rect_c.png') no-repeat 0px -40px;

}

.flag .nav-top-item-en {
    float: left;
    width: 22px;
    height: 20px;
    margin: 0 0 0 3px;
    background: url('../image/lang_rect_c.png') no-repeat 0px -80px;
}
.logo {
    float: left;
}


.login {
    float: right;
    margin: 30px 0 0 0;
}
.form {
    float: right;
}
.btn-login{
    float: left;
    width: 76px;
    height: 28px;
    margin: 0 6px 0 0;
    cursor: pointer;
    text-decoration: none;
    background: url('../image/lang/zh-cn/btn_login.png') no-repeat;
}
.btn-login:hover{ 
    background: url('../image/lang/zh-cn/btn_login.png') no-repeat center bottom;
}
.btn-registered {
    float: left;
    width: 76px;
    height: 28px;
    margin: 0 6px 0 0;
    background: url('../image/lang/zh-cn/btn_joinus.png') no-repeat;
}
.btn-registered:hover{
    background: url('../image/lang/zh-cn/btn_joinus.png') no-repeat center bottom;

}

.btn-forget {
    float: left;
    margin: 5px 0 0 0;
    cursor: pointer;
    text-decoration: none;
}
.btn-forget {
    color: #FFF;
    text-decoration: none;
}
.btn-forget:hover {
    color: #D90000;
}

.input-account {
    float: left;
    height: 28px;
    width: 143px;
    margin: 0 6px 0 0;
    text-indent: 32px;
    border-style: none;
    background: url('../image/input_bg01.png')no-repeat center center;
}


.input-password {
    float: left;
    height: 28px;
    width: 143px;
    margin: 0 6px 0 0;
    text-indent: 32px;
    border-style: none;
    background: url('../image/input_bg02.png')no-repeat center 10%;
}

.header-bottom>div{
    float: left;
    padding: 0 0 0 31px;
    margin: 12px 0 0 24px;
}
.header-bottom a {
    color: #FFF;
    text-decoration: none;
}
.header-bottom-promotions>a{
    color: #FF0000;
}
.clearfix:after{
    display: block;
    content:'';
    clear: both;
}
.clearfix{
    overflow: auto;
}

.header-bottom div {
    float: left;
}


.header-bottom-hover:hover,.header-bottom-hover:hover a
{
    background-position: left bottom;
    color: #FFF000;
}
.header-bottom-index {
    background: url('../image/nav_icon01.png') no-repeat left top;
}
.header-bottom-index>a{
    margin: 1px 30px 0 0;
}
.header-bottom-sport {
    background: url('../image/nav_icon02.png') no-repeat left top;
}
.header-bottom-live {
    background: url('../image/nav_icon03.png') no-repeat left top;
}
.header-bottom-electronic {
    background: url('../image/nav_icon04.png') no-repeat left top;
}
.header-bottom-lottery {
    background: url('../image/nav_icon05.png') no-repeat left top;
}
.header-bottom-board {
    background: url('../image/nav_icon06.png') no-repeat left top;
}
.header-bottom-board {
    background: url('../image/nav_icon06.png') no-repeat left top;
}
.header-bottom-promotions {
    background: url('../image/nav_icon07.png') no-repeat left top;
}
.header-bottom-phone {
    background: url('../image/nav_icon08.png') no-repeat left top;
}
.header-bottom-service {
    background: url('../image/nav_icon09.png') no-repeat left top;
}
.main-body-bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 435px;
    background: url('../image/slider.jpg') no-repeat;
}
.slide-items {
    position: absolute;
    /* width: 100%; */
    bottom: 12px;
    left: 50%;
    margin:0 0 0 -72.5px;
}
.slide-div {
    float: left;
    width: 15px;
    height: 15px;
    margin: 0 0 0 10px;
    border-radius: 250px;
    background-color: #FFF;
}
.slide-div:hover{
    cursor: pointer;
    background-color:#FFFE00 ;
}
.news {
    width: 100%;
    height: 36px;
    background: url('../image/news_bg_x.jpg');
}
.news-box{
    width: 1070px;
    margin: 0 auto;
}
.news-title {
    float: left;
    width: 95px;
    height: 15px;
    margin: 10px 3px 0 10px;
    background: url('../image/news_icon.png') no-repeat;
}
.news-words {
    float: left;
    line-height: 36px;
    font-size: 12px;
    color: #FFF;
}
.main-body-cotainer-bg {
    height: 1010px;
    padding: 35px 0 0 0;
    background: url('../image/container_bg1.jpg');
}
.main-body-cotainer{
    width: 1180px;
    margin: 0px auto;
}
.main-body-container-title{
    width: 800px;
    height: 80px;
    margin: 0px auto 25px;
    background: url('../image/lang/zh-cn/game_title.png') no-repeat;
}
.main-body-container-live {
    position: relative;
    float: left;
    width: 532px;
    height: 416px;
    margin: 0 8px 0 50px;
    background: url('../image/lang/zh-cn/live_bg.png');
}
.main-body-container-electronic {
    position: relative;
    float: left;
    width: 532px;
    height: 416px;
    margin: 0 50px 0 8px;
    background: url('../image/lang/zh-cn/casino_bg.png');
}
.btn-box{
    position: absolute;
    right: 30px;
    bottom: 85px;
    height: 205px;
    width: 174px;
}
.btn-box-margin {
    margin: 3px 3px;
}
.btn-bbin {
    float: left;
    width: 81px;
    height: 95px;
    background: url('../image/lang/zh-cn/liveicon_01.png');
}
.btn-live-ag {
    float: left;
    width: 81px;
    height: 95px;
    background: url('../image/lang/zh-cn/liveicon_02.png');
}
 .btn-mg {
    float: left;
    width: 81px;
    height: 95px;
    background: url('../image/lang/zh-cn/liveicon_03.png');
 }
 .btn-live-allbet {
    float: left;
    width: 81px;
    height: 95px;
    background: url('../image/lang/zh-cn/liveicon_04.png');
 }
 .btn-live-play,
 .btn-electronic-play {
     float: left;
     width: 160px;
     height: 54px;
     margin: 3px 0 0 7px;
     background: url('../image/lang/zh-cn/game_btn01.png');
 }

.btn-electronic-fg {
    float: left;
    width: 81px;
    height: 95px;
    background: url('../image/lang/zh-cn/casinoicon_03.png');
}
.btn-electronic-jdb {
    float: left;
    width: 81px;
    height: 95px;
    background: url('../image/lang/zh-cn/casinoicon_04.png');
}

.btn-live-hover:hover {
    cursor: pointer;
    background-position: bottom;
}
.main-body-container-card {
    position: relative;
    float: left;
    width: 348px;
    height: 433px;
    margin: 18px 9px 3px 50px;
    background: url('../image/lang/zh-cn/cardgame_bg.png');
}
.main-body-container-sports{
    position: relative;
    float: left;
    width: 348px;
    height: 433px;
    margin: 18px 9px 3px 9px;
    background: url('../image/lang/zh-cn/sports_bg.png');
}
.main-body-container-lottery{
    position: relative;
    float: left;
    width: 348px;
    height: 433px;
    margin: 18px 50px 3px 9px;
    background: url('../image/lang/zh-cn/lottery_bg.png');
}
.btn-box-game {
    position: absolute;
    top: 32px;
    left: 50px;
    height: 247px;
    width: 254px;
    visibility: hidden;
}
.btn-card-bbin {
    float: left;
    width: 121px;
    height: 77px;
    background: url('../image/lang/zh-cn/card_btn01.png');
}
.btn-card-ky {
    float: right;
    width: 121px;
    height: 77px;
    background: url('../image/lang/zh-cn/card_btn02.png');
}

.btn-card-leg {
    float: left; 
    width: 121px;
    height: 77px;
    margin: 20px 0 0 0;
    background: url('../image/lang/zh-cn/card_btn03.png');
}
.btn-card-jdb {
    float: right;
    width: 121px;
    height: 77px;
    margin: 20px 0 0 0;
    background: url('../image/lang/zh-cn/card_btn04.png');
}
.btn-play {
     float: left;
     width: 160px;
     height: 46px;
     margin: 24px 0 0 40px;
     background: url('../image/lang/zh-cn/game_btn02.png');
}
.btn-sports-newbbin {
    float: left;
    width: 121px;
    height: 77px;
    background: url('../image/lang/zh-cn/sport_btn01.png');
}
.btn-sports-bbin {
    float: right;
    width: 121px;
    height: 77px;
    background: url('../image/lang/zh-cn/sport_btn02.png');
}
.btn-sports-sports {
    float: left;
    width: 121px;
    height: 77px; 
    margin: 20px 0 0 0;
    background: url('../image/lang/zh-cn/sport_btn03.png');
}
.btn-sports-soba {
    float: right;
    width: 121px;
    height: 77px;
    margin: 20px 0 0 0;
    background: url('../image/lang/zh-cn/sport_btn04.png');
}
.btn-lottery-xbb {
    float: left;
    width: 121px;
    height: 77px;
    background: url('../image/lang/zh-cn/sport_btn01.png');
}
.btn-lottery-bbin {
    float: right;
    width: 121px;
    height: 77px;
    background: url('../image/lang/zh-cn/sport_btn02.png');
}
.btn-lottery-vr {
    float: left;
    width: 121px;
    height: 77px; 
    margin: 20px 0 0 0;
    background: url('../image/lang/zh-cn/sport_btn03.png');
}
.btn-lottery-next {
    float: right;
    width: 121px;
    height: 77px;
    margin: 20px 0 0 0;
    background: url('../image/lang/zh-cn/sport_btn04.png');
}

.btn-hover:hover {
    background-position: bottom;

}
.main-visibility:hover,.main-visibility:hover .btn-box-game{
    visibility: visible;
    background-position: bottom;
}
.footer-bg {
    height: 206px;
    background: url('../image/footer_bg.jpg') no-repeat;
}
.footer{
    width: 1180px;
    height: 100px;
    margin:0 auto;
}
.footer-img-ublogo{
    float: left;
    width: 146px;
    height: 48px;
    margin: 30px 0 0 58px;
    background:url('../image/ublogo.png')
}
.footer-img-bbin {
    float: left;
    width: 89px;
    height: 35px;
    margin: 36px 0 0 20px;
    background: url('../image/red.png');
    background-size: contain;
}
.footer-img {
    float: right;
    width: 803px;
    height: 40px;
    margin: 30px 40px 0 0;
    background: url('../image/footer_img.png');
}
.footer-box {
    width: 1170px;
    height: 68px;
    margin:0 auto;
    color: #FFF;
}
.footer-connect {
    height: 30px;
    text-align: center;
}

.footer-copyright {
    text-align: center;
}