body {
    margin: 0px;
    padding: 0px;
    font-size: 0.5em;
}

.nav ul li:first-child {
    font-size: 2em;
    font-weight: 900;
}

.nav ul li:first-child span:last-child {
    color: rgb(245, 232, 60);
}

.nav ul {
    width: 100%;
    height: 50px;
    background-color: rgb(21, 109, 75);
    text-align-last: justify;
    padding-left: 0px;
    margin: 0px;
}

ul,
li {
    display: inline-block;
    list-style-type: none;
    padding-left: 0px;
}

.nav ul li a {
    margin-right: 10px;
    color: white;
}

.nav ul img {
    margin-top: 20px;
    vertical-align: bottom;
}

.nav ul li:last-child a:last-child {
    background-color: rgb(255, 187, 0);
    color: black;
    border-radius: 2px;
    padding: 3px 5px;
}

a:link {
    text-decoration: none;
}

.main {
    display: flex;
    color: gray;
    height: 1000px;
}

.mainLeft {
    flex: 2;
    width: 100%;
    overflow-y: scroll;
    background-color: rgba(12, 12, 12, 0.76);
}

.category {
    padding: 0px 3px;
    background-color: rgba(0, 0, 0, 0.322);
    border-bottom: 1px rgb(187, 124, 6) solid;
}

.category p {
    padding: 3px 0px 0px;
    font-size: 1pt;
    /* color: rgba(155, 153, 153, 0.842); */
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.category li {
    padding: 0px 5px;
    text-align: center;
    opacity: 0.3;
    -webkit-filter: grayscale(1);
}

.category li:hover {
    -webkit-filter: grayscale(0);
    text-decoration: none;
    opacity: 1;
}

.category li img {
    width: 30px;
    height: 30px;
}

.leftOddsHead {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    background-color: rgba(48, 46, 46, 0.445);
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    height: 40px;
    align-items: center;
    font-weight: 900;
}

.divhead div:nth-of-type(2) {
    font-size: 1px;
    color: rgb(150, 144, 144);
}

.leftOddsSubject {
    background-color: rgb(94, 91, 91);
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.oddsSubject {
    flex: 4;
}

.leftOddsContent {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
    align-items: center;
}

.oddsItemTime {
    flex: 0.5;
}

.oddsItemSpread,
.oddsItemTotal,
.oddsItemMoneyLine {
    flex: 1;
    line-height: 50px;
    text-align: center;
}

.oddsItemSpread div span,
.oddsItemTotal div span,
.oddsItemMoneyLine div span,
.oddsItemMoneyLineColor {
    color: rgb(255, 187, 0);
}

.oddsItem {
    text-align: center;
    flex: 1;
}

.scoreItemTime {
    flex: 2;
}

.oddsItemRound {
    flex: 2.5;
}

.scoreItemOdds {
    flex: 3;
}

.borderRight {
    border-right: 1px solid rgb(99, 94, 94);
    padding-right: 8px;
}

.borderLeft {
    border-left: 1px solid rgb(99, 94, 94);
    padding-left: 8px;
}

.textAlignRight {
    text-align: right;
}

.scoreItemOddsWhiteLeft {
    color: white;
    text-align: left;
}

.mainRight {
    background-color: rgba(0, 0, 0, 0.822);
    flex: 1;
    text-align: center;
    color: white;
    font-size: 1pt;
}

.mainRight span {
    color: rgb(247, 223, 12);
    font-size: 15pt;
}

.borderWhite,
.borderRed {
    display: inline-block;
    width: 20px;
    border-bottom: 3px solid white;
    margin-bottom: -5px;
}

.borderRed {
    border-bottom: 3px solid red;
}

.borderGreen {
    display: block;
    width: 30px;
    border-top: 1px solid green;
    margin: 0 auto;
}

.borderLeftWhite {
    border-left: 5px white solid;
}

.borderLeftRed {
    border-left: 5px red solid;
}

.borderBottomWhite {
    font-size: 11pt;
    /* color: white; */
    border-bottom: 2px white solid;
}

.borderBottomWhite span,
.borderBottomRed span {
    color: white;
    font-size: 11pt;
}

.paddingRightLeft {
    padding-left: 3px;
    padding-right: 3px;
}

.borderBottomRed {
    font-size: 11pt;
    /* color: white; */
    border-bottom: 2px red solid;
}

.borderTop {
    border-top: 1px solid rgb(99, 94, 94);
}

.borderBottom {
    border-bottom: 1px solid rgb(99, 94, 94);
}

.bordernone {
    border-bottom: 1px solid rgba(80, 74, 74, 0.096);
}

.hrPaddingRight {
    padding-right: 15px;
}

.fieldImg {
    border-top: 1px solid rgb(85, 82, 82);
    border-bottom: 1px solid rgb(85, 82, 82);
    padding-top: 10px;
    padding-bottom: 15px;
    margin-right: 15px;
}

.mainRightHead {
    padding-top: 10px;
}

.score {
    display: flex;
    padding: 0px 50px;
    color: rgb(156, 155, 155);
}

.score div {
    line-height: 25px;
}

.scoreHead {
    flex: 1 1 40%;
    display: flex;
    justify-content: flex-start;
}

.score+.score .scoreHead {
    color: white;
}

.scoreItemColor {
    color: yellow;
}

.scoreItem {
    flex: 1 0 20%;
}

.scoreItemHome,
.scoreItemGuest {
    flex: 1;
    padding: 0px 2px;
}

.scoreItemHome div:nth-of-type(1),
.scoreItemGuest div:nth-of-type(1) {
    color: white;
}

.scoreItemTimeDotWhite {
    font-size: 20pt;
    font-weight: 900;
    color: white;
}

.scoreItemTimeDotRed {
    font-size: 20pt;
    font-weight: 900;
    color: red;
}

.textWhite {
    color: white;
}


/* @media screen and (max-width: 767px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (min-width: 768px) and (max-width:992px) {
}
@media screen and (min-width: 993px) {
}
@media screen and (min-width: 1200px) {
} */